.containerNavBar {
    width: 100%;
    height: 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    flex-wrap: wrap;
    position: sticky;
    top: 0;
  }

  .linkNavBar {
    display: flex;
    justify-content: space-around;
    font-size: 1.2rem;
    width: 21rem;
    position: relative;
  }

  li {
    list-style: none;
    padding: 10px;
  }

  @media (max-width: 796px){
    .containerNavBar{
        display: flex;
        flex-direction: column;
       
    }
  }
